@use "meta/colourscheme" as cs;
@use "meta/typography" as tp;
@use "lib";


html {
  font-size: tp.$font-size;
  line-height: tp.$line-height;
  content: "",
}

@media (prefers-color-scheme: light) {
  html {
    content: "light-theme";
  }
}

@media (prefers-color-scheme: dark) {
  html {
    content: "dark-theme";
  }
}

main {
  margin-left: 5%;
  margin-right: 5%;
}

@include cs.themed(cs.$themes) {
  a {
    text-decoration: none;
    color: cs.cs("text");
    border-bottom: 1px solid cs.cs("fg");
    &:hover {
        border-bottom: 1px solid cs.cs("alt-fg");
      }
  }
}

p {
  margin: 0;
}
