@use "meta/colourscheme" as cs;

// === Basics ===

h1 {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before, &:after {
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 100%;
  }
  &:before {
    margin-right: 5%;
  }
  &:after {
    margin-left: 5%;
  }
}

@include cs.themed(cs.$themes, $invert: true) {
h1 {
  &:before, &:after {
    background-color: cs.cs("alt-fg");
  }
}
}

header h1 {
  font-size: 4rem;
}
