@use "meta/colourscheme" as cs;
@use "meta/breakpoints" as bp;

// === Basics ===

nav {
  margin-bottom: 5vh;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  min-width: 0;
  width: 100%;
  max-width: 100%;

  min-height: 0;
  height: 10vh;
  max-height: 100%;

  column-gap: 1%;
  row-gap: 1%;

  font-size: 3rem;
  display: inline-grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  li:first-child {
    justify-self: start;
  }
  li {
    min-height: 0;
    justify-self: center;
    background-color: transparent;
    a {
      height: 100%;
      padding: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// === Breakpoints ===

// BP: lg
nav ul {
  @include bp.break(lg) {
    height: 10vh;
  font-size: 2.5rem;
  }
}

// BP: md
nav ul {
  @include bp.break(md) {
    height: 10vh;
  font-size: 2.25rem;
  }
}

// BP: sm
nav ul {
  @include bp.break(sm) {
    height: 10vh;
    font-size: 1.75rem;
  }
}

// BP: xs
nav ul {
  @include bp.break(xs) {
  font-size: 1.5rem;
  }
}

// BP: xxs
nav ul {
  @include bp.break(xxs) {
    font-size: 1.25rem;
  }
}


// BP: xxxs
@include bp.break(xxxs) {
  nav ul {
    height: 15vh;
    font-size: 1rem;
    li:first-child {
      grid-column: 1;
      grid-row: 1 / span 2;
    }
    grid-template-columns: auto 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
  }
}

// BP: xxxxs
@include bp.break(xxxxs) {
  nav ul {
    li:first-child {
      grid-column: 1;
      grid-row: 1 / span 4;
    }
    grid-template-columns: auto 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
  }
}
