$breakpoints: (
  xxxxs: 360px,
  xxxs: 530px,
  xxs: 620px,
  xs: 798px,
  sm: 991px,
  md: 1080px,
  lg: 1920px,
  xl: 5000px
);

@mixin break($breakpoint, $gt: false) {
  @if map-has-key($breakpoints, $breakpoint) {
    $width: map-get($breakpoints, $breakpoint);
    @if $gt {
      @media (min-width: $width + 1) {
        @content;
      }
    } @else {
      @media (max-width: $width) {
        @content;
      }
    }
  } @else {
    @error "Invalid breakpoint: #{$breakpoint}.";
  }
}
