// === Colourscheme ===
@use "sass:map";

// --- Palette ---
// Setup all the colours we have access to

// Cool
$cool-primary: #2F4A59;
$cool-secondary: #AFC9CE;
$cool-tertiary: #121923;

// Warm
$warm-primary: #9C6D4C;
$warm-secondary: #DC9554;
$warm-tertiary: #602914;

// --- Definitions ---
// Default values for a number of common object types

$inverse: (
  light: "dark",
  dark: "light"
);

$themes: (
  light: (
    fg: $cool-primary,
    alt-fg: $warm-primary,
    text: $cool-tertiary,
    alt-text: $warm-tertiary,
    bg: $cool-secondary,
    alt-bg: $warm-secondary,
    logo: "img/logo/LogoColourFilled.svg",
  ),
  dark: (
    fg: $cool-primary,
    alt-fg: $warm-primary,
    text: $cool-secondary,
    alt-text: $warm-secondary,
    bg: $cool-tertiary,
    alt-bg: $warm-tertiary,
    logo: "img/logo/LogoColour.svg",
  ),
);

@mixin themed($themes, $invert: false) {
  @each $name, $values in $themes {
    @if $invert {
      .#{map-get($inverse, $name)}-theme {
        $theme-map: $values !global;
        @content;
      };
    } @else {
      .#{$name}-theme {
        $theme-map: $values !global;
        @content;
      }
    }
  }
}

@function cs($key) {
  @return map-get($theme-map, $key);
}


// Colour Scheme
@include themed($themes) {
    background-color: cs("bg");
    color: cs("text");
}
