// === Colourscheme ===
@use "sass:map";

// --- Palette ---
// Setup all the colours we have access to

// Cool
$cool-primary: #2F4A59;
$cool-secondary: #AFC9CE;
$cool-tertiary: #121923;

// Warm
$warm-primary: #9C6D4C;
$warm-secondary: #DC9554;
$warm-tertiary: #602914;

// --- Definitions ---
// Default values for a number of common object types

$dark-theme: true !default;

$themes: (
  light: (
    bg: $cool-secondary,
    text: $cool-tertiary,
    logo: "img/logo/LogoColourFilled.svg",
  ),
  dark: (
    bg: $cool-tertiary,
    text: $cool-secondary,
    logo: "img/logo/LogoColour.svg",
  ),
);

@mixin themed($themes) {
  @each $name, $values in $themes {
    .#{$name}-theme {
      $theme-map: $values !global;
      @content;
    }
  }
}

@function cs($key) {
  @return map-get($theme-map, $key);
}
