/* ==================================================================
VARIABLES
================================================================== */

:root {
    --block-background: hsl(0, 0%, 94%);
    --background: #e5e0d6;
    --logo-colour: #02364a;
    --bright-colour: #046c95;
    --output-background: hsl(0, 0%, 98%);
    --small: 0.75em;
    --normal: 1em;
    --text-colour: #182844;
    --banner-colour: #071738;
}

/* ==================================================================
Header and Nav
================================================================== */
div.sidebar {
    top: 0px;
    left: -10vw;
    width: 10vw;
    min-height: 100vh;
    height: 100vh;
    position: fixed;
    background: var(--logo-colour); 
    transition: all 0.5s ease;
    list-style: none;
    text-decoration: none;
    overflow: auto;
}

div.sidebar ul {
    padding: 5%;
    list-style: none;
    text-decoration: none;
}

div.sidebar ul li {
    list-style: none;
    text-decoration: none;
}

div.sidebar ul a {
    list-style: none;
    text-decoration: none;
    display: block;
    color: var(--background);
}

div.sidebar ul li:hover a {
    text-shadow: -1px -1px 0 var(--bright-colour), 1px -1px 0 var(--bright-colour), -1px 1px 0 var(--bright-colour), 1px 1px 0 var(--bright-colour);
}

div.home {
    text-align: center;
}

div.home a img {
    padding-top: 5%;
    height: 90%;
    width: 90%;  
}

#check {
    display: none;
}

label #btn {
    position: absolute;
    cursor: pointer;
    transition: all 0.5s;
    padding-left: 1vw;
    padding-top: 1vh;
} 

#check:checked ~ div.sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    left: 10vw;
}
